---
// export const prerender = false

import { InventoryTable } from '@/components/admin/inventory/DataTable'
import AdminLayout from '@/layouts/AdminLayout.astro'

const cookie = Astro.cookies.get('admin')

// if (cookie && cookie.value !== 'true') {
// 	return Astro.redirect('/admin/login')
// }
---

<AdminLayout title='Inventario'>
	<div class='overflow-x-auto my-8'>
		<InventoryTable client:load />
	</div>
</AdminLayout>
