---
import WhiteLogo from '../icons/WhiteLogo.astro'
import MailIcon from '../icons/MailIcon.astro'
import InstagramIcon from '../icons/InstagramIcon.astro'
import TiktokIcon from '../icons/TiktokIcon.astro'
import WhatsAppIcon from '../icons/WhatsAppIcon.astro'
---

<footer class='flex flex-col gap-y-10 lg:gap-y-20 bg-darkGray py-20 px-5 xl:px-40'>
    {/* Footer screen >= lg */}
    <div class='hidden lg:grid lg:grid-cols-4 mt-auto'>
        <WhiteLogo />
        <div>
            <h3 class='font-bold mb-2'>MENU</h3>
            <ul class='space-y-2 text-sm'>
                <li>
                    <a href='/' class='opacity-60 hover:opacity-100'>
                        Home
                    </a>
                </li>
                <li>
                    <a href='/tienda' class='opacity-60 hover:opacity-100'>
                        Colecciones
                    </a>
                </li>
                <li>
                    <a href='#' class='opacity-60 hover:opacity-100'>
                        Sobre Nosotros
                    </a>
                </li>
                
            </ul>
        </div>
        <div>
            <h3 class='font-bold mb-2'>SOCIAL</h3>
            <ul class='space-y-2 text-sm'>
                <li>
                    <a href='https://instagram.com/th3cultureclan?igshid=NGVhN2U2NjQ0Yg==' class='opacity-60 hover:opacity-100'>
                        Instagram
                    </a>
                </li>
                <li>
                    <a href='#' class='opacity-60 hover:opacity-100'>
                        TikTok
                    </a>
                </li>
                <li>
                    <a href='https://wa.link/phwrwn' class='opacity-60 hover:opacity-100'>
                        WhatsApp
                    </a>
                </li>
                <li>
                    <a href='#' class='opacity-60 hover:opacity-100'>
                        Email
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class='font-bold mb-2'>AYUDA</h3>
            <ul class='space-y-2 text-sm'>
                <li>
                    <a href='#' class='opacity-60 hover:opacity-100'>
                        Contáctenos
                    </a>
                </li>
                <li>
                    <a href='#' class='opacity-60 hover:opacity-100'>
                        Política de Privacidad
                    </a>
                </li>
                <li>
                    <a href='#' class='opacity-60 hover:opacity-100'>
                        Términos y condiciones
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {/* Footer screen <a= lg */}
    <div class='grid grid-cols-1 lg:hidden gap-y-10'>
        <WhiteLogo />
        <div class='flex flex-col divide-y-[1px] divide-mediumGray text-lg font-bold text-white'>
            <a href="/tienda" class='py-2'>COLECCIONES</a>
            <h3 class='py-2'>SOCIAL</h3>
            <h3 class='py-2'>AYUDA</h3>
            <a href="/contacto" class='py-2'>MANTENTE EN CONTACTO</a>
        </div>
        <div class='flex justify-center items-center gap-x-3'>
            <a href="https://instagram.com/th3cultureclan?igshid=NGVhN2U2NjQ0Yg==">
                <InstagramIcon styles='social-icon' />
            </a>
            <a href="https://wa.link/phwrwn">
                <WhatsAppIcon styles='social-icon' />
            </a>
            <TiktokIcon  />
            <MailIcon styles='social-icon' />
        </div>
    </div>

    <div class='text-[#484848] pt-4 border-t-2 border-mediumGray'>
        © 2023 The Clan Culture
    </div>
</footer>

