---
type Props = {
    link: string,
    name: string
}

const {link, name} = Astro.props
---

<a href={link} class="flex items-center p-2 text-lg" data-drawer-hide="drawer-navigation">
    <slot />
    <span class="ml-3">{name}</span>
</a>