# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TODO: necesito enviar el .env al repositiorio de git por que ahi estan contenidas las claves de supabase
# environment variables
#.env
.env.production

# macOS-specific files
.DS_Store
