---
/* TODO: Revisar el tipado de la prop type, coloque any pero no deberia de ser any */
type Props = {
    label: string,
    type: any,
}

const {label, type} = Astro.props
---

<label class="flex flex-col text-left gap-y-2 text-grayText" >
    {label}
    <input class="bg-[#171717] outline-none opacity-50 focus:opacity-100 border border-mediumGray py-2 px-3 rounded-lg" type={type} required>
</label>