---
import SideMenuOptions from "../layaout/SideMenuOptions.astro";

/* Icons */
import HomeIcon from "../icons/HomeIcon.astro";
import MenuIcon from "../icons/MenuIcon.astro";
import ShirtIcon from "../icons/ShirtIcon.astro";
import SalesIcon from "../icons/SalesIcon.astro";
import BillIcon from "../icons/BillIcon.astro";
import TCCIcon from "../icons/TCCIcon.astro";
import UsersIcon from "../icons/UsersIcon.astro";
import WalletIcon from "../icons/WalletIcon.astro";
import SignOutButton from "./SignOutButton";


---

<button transition:persist class="text-white" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
    <MenuIcon />
</button>
 
 <!-- drawer component -->
<div transition:persist id="drawer-navigation" class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-darkGray" tabindex="-1" aria-labelledby="drawer-navigation-label">
        <div class='absolute top-2.5 left-[17px]' >
            <TCCIcon styles='w-10 h-10'/>
        </div>
        <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-grayText bg-transparent p-1.5 absolute top-2.5 right-2.5 inline-flex items-center" >
            <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close menu</span>
        </button>
  <div class=" mt-10 py-5 overflow-y-auto flex flex-col justify-between">
      <ul class="space-y-2">
         <li>
            <SideMenuOptions link="admin/dashboard" name="Dashboard">
                <HomeIcon />
            </SideMenuOptions>
         </li>
         <li>
            <SideMenuOptions link="admin/fondos" name="Fondo">
                <WalletIcon />
            </SideMenuOptions>
         </li>
         <li>
            <SideMenuOptions link="admin/productos" name="Productos">
                <ShirtIcon />
            </SideMenuOptions>
         </li>
         <li>
            <SideMenuOptions link="admin/ventas" name="Ventas">
                <SalesIcon />
            </SideMenuOptions>
         </li>
         <li>
            <SideMenuOptions link="admin/gastos" name="Gastos">
                <BillIcon />
            </SideMenuOptions>
         </li>
         <li>
            <SideMenuOptions link="admin/usuarios" name="Usuarios">
                <UsersIcon />
            </SideMenuOptions>
         </li>
      </ul>
      
      <SignOutButton client:visible />
   </div>
</div>