---
export const prerender = false

import GoBackButton from '@/components/ui/GoBackButton.astro'
import AdminLayout from '@/layouts/AdminLayout.astro'
import Title from '@/components/ui/Title.astro'
import { DTFForm } from '@/components/admin/dtfs/Form'

const { id } = Astro.params

if (!id) {
	return Astro.redirect('/404')
}
---

<AdminLayout title='Actualizar DTF'>
	<GoBackButton />
	<div class='flex flex-col items-center'>
		<Title title='Actualizar DTF' />
		<div
			class='flex flex-col gap-y-8 justify-center my-5 divide-mediumGray w-[90%] sm:min-w-0 max-w-[700px] bg-white rounded-lg py-6 px-8'
		>
			<DTFForm client:visible id={id ? id : ''} />
		</div>
	</div>
</AdminLayout>
