---
import HomeSection from "../components/home/HomeSection.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Home">
	<main>
		<HomeSection imageBackground='bg-hero1' title='rap' />
		<HomeSection imageBackground='bg-hero2' title='pop' />
		<HomeSection imageBackground='bg-hero3' title='urban' />
		<HomeSection imageBackground='bg-hero4' title='rock' />
	</main>
</Layout>