---
import HomeSection from "../components/home/HomeSection.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Home">
	<main>
		<HomeSection imageBackground='bg-hero4 bg-center' title='new' />
		<HomeSection imageBackground='bg-hero2 bg-top' title='pop' />
		<HomeSection imageBackground='bg-hero1 bg-center' title='rap' />
		<HomeSection imageBackground='bg-hero3 bg-center' title='urban' />
	</main>
</Layout>