---
import Layout from "../layouts/Layout.astro";
import InputForm from "../components/form/InputForm.astro";
import GmailIcon from "../components/icons/GmailIcon.astro";

---

<Layout title="Iniciar Sesión" >
    <main class="flex flex-col gap-y-4 items-center justify-center pt-32 text-center h-screen mb-10" >
        <!-- <Logo /> -->
        <h2 class="text-3xl md:text-5xl font-bold" >Iniciar Sesión</h2>

        <div class="flex flex-col gap-y-8 justify-center w-3/4 mt-5 divide-y-2 divide-mediumGray min-w-[90%] sm:min-w-0 max-w-[550px] bg-darkGray rounded-lg py-6 px-8" >
            <form class="flex flex-col gap-y-4 justify-center" >
                <InputForm label="Correo Electrónico" type='email' />
                <InputForm label="Contraseña" type='password' />
                <div class="flex justify-between mt-8" >
                    <a href="/sign-up" class="text-sm opacity-50 hover:opacity-100">
                        Crear Cuenta
                    </a>

                    <a href="/reset-password" class="text-sm opacity-50 hover:opacity-100">
                        ¿Olvidaste tu Contraseña?
                    </a>
                </div>
                <button class="border-2 border-mediumGray py-3 px-4 text-center rounded-lg w-full opacity-50 hover:opacity-100" >Iniciar Sesión</button>
            </form>
            
            <div>
                <button class="flex items-start justify-center gap-x-1 border-2 border-mediumGray py-3 px-4 text-center rounded-lg mt-8 w-full opacity-50 hover:opacity-100" >
                    <GmailIcon />
                    <span>Gmail</span>
                </button>
            </div>
        </div>
        <div class="px-3">
            <p class="text-darkModeText text-sm" >Al crear una cuenta estas aceptando nuestros términos y condiciones, puedes revisarlos <a href="/terminos-y-condiciones" class="text-white" >aqui</a></p>
        </div>
    </main>
</Layout>