---
import Layout from '../layouts/Layout.astro'
import MenuIcon from '../components/icons/MenuIcon.astro'
import SideMenu from '../components/layaout/SideMenu.astro'
---

<Layout title='agvav'>

<div class="h-screen">
    <SideMenu />
</div>
 
</Layout>