---
import Layout from "../layouts/Layout.astro";
import SignInForm from "../components/form/SignIn";
import GmailAuthButton from "../components/form/GmailAuthButton";
import AppleAuthButton from "../components/form/AppleAuthButton";

const cookie = Astro.request.headers.get('cookie')

if (cookie) {
  return Astro.redirect('/');
}
---

<Layout title="Iniciar Sesión" >
    <main class="flex flex-col gap-y-4 items-center justify-center pt-44 text-center h-screen mb-10" >
        <!-- <Logo /> -->
        <h2 class="text-3xl md:text-5xl font-bold" >Iniciar Sesión</h2>

        <div class="flex flex-col gap-y-8 justify-center w-3/4 mt-5 divide-y-2 divide-mediumGray min-w-[90%] sm:min-w-0 max-w-[550px] bg-darkGray rounded-lg py-6 px-8" >
            <SignInForm client:visible />
            
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5" >
                <GmailAuthButton client:visible />
                <AppleAuthButton client:visible />
            </div>
        </div>
        <div class="px-3">
            <p class="text-grayText text-sm" >Al crear una cuenta estas aceptando nuestros términos y condiciones, puedes revisarlos <a href="/terminos-y-condiciones" class="text-white" >aqui</a></p>
        </div>
    </main>
</Layout>