---
// export const prerender = false

import AdminLayout from '@/layouts/AdminLayout.astro'
import { BillsTable } from '@/components/admin/bills/DataTable'

const cookie = Astro.cookies.get('admin')

// if (cookie && cookie.value !== 'true') {
// 	return Astro.redirect('/admin/login')
// }
---

<AdminLayout title='Gastos'>
	<div class='overflow-x-auto my-8'>
		<BillsTable client:load />
	</div>
</AdminLayout>
