---
import HomeSectionContent from './HomeSectionContent.astro';
type Props = {
	imageBackground: string
	title: string
}

const {imageBackground, title} = Astro.props
---

<!-- Desktop section -->
<section
    class={`${imageBackground} bg-cover bg-center h-screen w-full hidden md:flex flex-col gap-y-5 items-center justify-center`}
>
    <HomeSectionContent>{title} culture</HomeSectionContent>
</section>

<!-- Responsive section -->
<section class='md:hidden'>
    <div
        class={`${imageBackground} w-full h-[400px] bg-cover bg-center`}
    ></div>
    <HomeSectionContent>{title} culture</HomeSectionContent>
</section>
	
