
<div>
    <div class='flex flex-col items-center py-20 gap-y-3'>
        <h2>
            <slot />
        </h2>
        <a href="/tienda" class='border-2 border-white py-2 w-36 uppercase text-lg opacity-70 active:opacity-100 lg:hover:opacity-100 text-center'>
            Ver más
        </a>
    </div>
</div>


<style>
    h2{
        font-family: 'Bebas Neue', sans-serif;
        @apply text-lightGray tracking-[1px] text-7xl;
    }
</style>
