---
import SideMenu from '@/components/layouts/SideMenu'
import SideMenuOptions from '@/components/layouts/SideMenuOptions'
import { TShirtIcon, DtfIcon } from '@/components/ui/icons/icons'
import {
	BanknotesIcon,
	CurrencyDollarIcon,
	PresentationChartBarIcon,
	ArchiveBoxIcon
} from '@heroicons/react/20/solid'

// import AdminSideMenu from "./AdminSideMenu.astro";

type Props = {
	title: string | undefined
}

const { title } = Astro.props
---

<nav
	class='flex py-4 px-5 justify-between items-center border-b-[1px] border-mediumGray'
>
	<div class='flex gap-x-1 items-center'>
		<SideMenu client:idle>
			<ul role='list' class='-my-6 space-y-8'>
				<SideMenuOptions
					name='Dashboard'
					link='/admin/dashboard'
					otherStyles='text-2xl'
				>
					<PresentationChartBarIcon className='flex-shrink-0 w-6 h-6' />
				</SideMenuOptions>
				<SideMenuOptions
					name='Inventario'
					link='/admin/inventario'
					otherStyles='text-2xl'
				>
					<ArchiveBoxIcon className='flex-shrink-0 w-6 h-6' />
				</SideMenuOptions>
				<SideMenuOptions
					name='Ingresos'
					link='/admin/ingresos'
					otherStyles='text-2xl'
				>
					<BanknotesIcon className='flex-shrink-0 w-6 h-6' />
				</SideMenuOptions>
				<SideMenuOptions name='Gastos' link='/admin/gastos' otherStyles='text-2xl'>
					<CurrencyDollarIcon className='flex-shrink-0 w-6 h-6' />
				</SideMenuOptions>
				<SideMenuOptions
					name='Franelas'
					link='/admin/franelas'
					otherStyles='text-2xl'
				>
					<TShirtIcon styles='flex-shrink-0 w-6 h-6' />
				</SideMenuOptions>
				<SideMenuOptions name='DTFS' link='/admin/dtfs' otherStyles='text-2xl'>
					<DtfIcon styles='flex-shrink-0 w-6 h-6' />
				</SideMenuOptions>
				{
					/* <SideMenuOptions name='Iniciar sesión' link='/login'>
					<Login />
				</SideMenuOptions> */
				}
			</ul>
		</SideMenu>
		<span class='text-xl font-medium'>{title}</span>
	</div>
	<div class='flex items-center gap-x-2'>
		<span class='text-grayText'>The Culture Clan Admin</span>
		<img
			class='w-10 h-10 p-1 rounded-full ring-1 ring-mediumGray'
			src='https://res.cloudinary.com/df8nnzf8t/image/upload/v1702386655/logo_mywb2f.jpg'
			alt='Bordered avatar'
		/>
	</div>
</nav>
