---
import ChevronDownIcon from "./icons/ChevronDownIcon.astro";

---

<div class="flex justify-between w-full pt-5 text-sm font-medium">
    <div class="flex gap-x-1">
        <span>Ordenar por</span>
        <ChevronDownIcon />
    </div>
    <!-- Filtros mobile -->
    <button class="sm:hidden" >Filtros</button>

    <!-- Filtros desktop -->
    <div class="hidden sm:flex items-center gap-x-4" >
        <div class="flex gap-x-1">
            <span>Colección</span>
            <ChevronDownIcon />
        </div>
        <div class="flex gap-x-1">
            <span>Color</span>
            <ChevronDownIcon />
        </div>
        <div class="flex gap-x-1">
            <span>Talla</span>
            <ChevronDownIcon />
        </div>
    </div>
</div>