---
import LeftArrowIcon from "./icons/LeftArrowIcon.astro";

---

<div class="absolute top-[-40px] md:top-0 md:left-[-50px]">
    <button onclick="history.back()">
        <LeftArrowIcon />
    </button>
</div>