---
export const prerender = false
import Layout from "../../layouts/Layout.astro";
import ItemOverview from '../../components/shop/ItemOverview'
import LeftArrowIcon from "../../components/icons/LeftArrowIcon.astro";

const { id } = Astro.params;

if(!id){
    return Astro.redirect('/404')
}
---

<Layout title='Overview'>
    <main class="pt-40 min-h-[1000px] lg:pt-56 px-10 md:px-20 mb-20 relative xl:container xl:mx-auto">
        <!-- <QRModal /> -->
        <div class="absolute top-24 lg:top-40">
            <button onclick="history.back()">
                <LeftArrowIcon />
            </button>
        </div>
        <ItemOverview slug={id} client:load/>
    </main>
</Layout>

