---
// export const prerender = false

import StatsCard from '@/components/admin/StatsCard.astro'
import AdminLayout from '../../layouts/AdminLayout.astro'
import { IncomesStats } from '@/components/admin/dashboard/IncomesStats'
import StatsContainer from '@/components/admin/dashboard/StatsContainer'

const cookie = Astro.cookies.get('admin')

// if (cookie && cookie.value !== 'true') {
// 	return Astro.redirect('/admin/login')
// }
---

<AdminLayout title='Dashboard'>
	<div>
		<p class='font-medium'>Ultimos 7 dias</p>
	</div>

	<StatsContainer client:visible />
</AdminLayout>
